SI
analysis/
compareOUPoisson/
BGSpikes/
dt_compare/
dt_compareRK4/
dt_exact/
.trash/
build/
hyak/

.rsync_exclude
syncHyak.sh
MyTemplate.tracetemplate
spikingIntegrator.tar.gz
makefile.bak
.DS_Store
/*.ntf
/*.dat
/*.o