SI
analysis/
compareOUPoisson/
BGSpikes/
dt_compare/
dt_compareRK4/
dt_exact/
.trash/
build/
hyak/
Results/

XCodeBuild
.rsync_exclude
.rsync_exclude~
.gitignore
.gitignore~
syncHyak.sh
MyTemplate.tracetemplate
spikingIntegrator.tar.gz
makefile.bak
.DS_Store
/*.ntf
/*.dat
/*.o
spikingIntegrator